.blocflex{
    display : flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.blocflex__article {
    margin : 10px;
    padding : 5px;
    border : 1px solid #aaa;
    flex: 1 0 300px;
}
.blocflex__galerie {
    flex: 1 0 100%;
}
